{% extends 'base.html.twig' %} {% block title %}Actus{% endblock %} {% block
body %}

<!--***************************MAIN NAV****************************-->
{% include 'nav/_main.nav.html.twig' %}

<div class="main-container">

  {% for event in events %}
	<h1 class="big-title">{{ event.title }}</h1>

	<div class="custom-flex-container">
		<div class="event-text">
		{{ event.text | raw }}
		</div>

		{% if null != event.date %}
			<div class="event-date">
			{{ event.date|date("d/m/y") }}
			</div>
		{% endif %}
		
		{% if null != event.image %}
			<div class="event-image">
			<img src="{{ event.image }}" alt="" class="event-img" />
			</div>
		{% endif %}
	</div>
	{% endfor %}
</div>
  {% endblock %}
