{% extends 'base.html.twig' %} {% block title %}Foetus{% endblock %} {% block
body %} {% include 'nav/_main.nav.html.twig' %}

<div class="main-container">
  <h1 class="big-title">Tarifs</h1>
  <hr class="hr" />

  <div class="rates">
    <ul>
      {% for rate in rates %} {% if rate.text %}
      <li>
        {{ rate.text }}
      </li>
      {% endif %}
      <li>{{ rate.title }} : {{ rate.amount }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
