{% extends 'base.html.twig' %} {% block title %}Home{% endblock %} {% block
body %}

<header class="witch-header wrapper">
  <div class="grid-witch">
    <div class="small square el" style="transform: scale(1)">W</div>
    <div class="small square el" style="transform: scale(1)">E</div>
    <div class="small square el" style="transform: scale(1)">L</div>
    <div class="small square el" style="transform: scale(1)">C</div>
    <div class="small square el" style="transform: scale(1)">O</div>
    <div class="small square el" style="transform: scale(1)">M</div>
    <div class="small square el" style="transform: scale(1)">E</div>
  </div>
  <div class="grid-witch">
    <div class="small square el" style="transform: scale(1)">T</div>
    <div class="small square el" style="transform: scale(1)">O</div>
    <div class="small square el" style="transform: scale(1)"></div>
    <div class="small el witch-pink" style="transform: scale(1)">F</div>
    <div class="small el witch-pink" style="transform: scale(1)">O</div>
    <div class="small el witch-pink" style="transform: scale(1)">E</div>
    <div class="small el witch-pink" style="transform: scale(1)">T</div>
    <div class="small el witch-pink" style="transform: scale(1)">U</div>
    <div class="small el witch-pink" style="transform: scale(1)">S</div>
  </div>
</header>
