{% extends 'base.html.twig' %} {% block title %}Foetus{% endblock %} {% block
body %}

{% include 'nav/previous.nav.html.twig' %}

<h1>{{ bio.title }}</h1>

<div class="bio">
   {{ bio.text }}
</div>

<div class="foetus-portrait">
       <img
      src="{{ asset( bio.photoPath ) }}"
      alt=""
      class="foetus-home-img"
    />
</div>

{% endblock %}
