{% extends 'base.html.twig' %} {% block title %}Foetus{% endblock %} {% block
body %}

<!--***************************MAIN NAV****************************-->
{% include 'nav/_main.nav.html.twig' %}



<div class="main-container">
{% if app.user %}
     {# UPDATE #}
      <div class="control-a">
        <a href="{{ path('update_bio', { id:bio.id, type:'bio' }) }}">
          <span class="ti-settings custom-button-2"></span>
        </a>
      </div>
{% endif %}
<h1 class="big-title">{{ bio.title }}</h1>
  <div class="custom-flex-container">
    <div class="custom-text">
      {{ bio.text | raw }}
    </div>
    <div class="custom-text-image">
      <img src="{{ asset(bio.photoPath) }}" alt=""/>
    </div>
  </div>
</div>

{% endblock %}
