{% extends 'base.html.twig' %} {% block title %}Foetus{% endblock %} {% block
body %}
<h1 class="big-title">Admin</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Bio</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{ path('update_bio') }}">Modifier</a></li>
    </ul>
  </li>
</ul>
<div class="menu">
        <a href="{{ path('foetus_bio') }}">Modifier ma Bio</a>
        <a href="{{ path('foetus_galerie') }}">Ajouter des photos</a>
        <a href="#">Modifier mes tarifs</a>
        <a href="#">Ajouter une actu</a>
        <a href="#">Modifier mes infos de contact</a>
      </div>
{% endblock %}
