{% extends 'base.html.twig' %} {% block title %}Foetus{% endblock %} {% block
body %} 

{% include 'admin/_nav.admin.html.twig' %}

<div class="container-flexboxxx">
  <div class="flexboxxx-delete">
    {% for image in images %}
    <div class="itemx">
      <form method="POST" action="" class="delete-img-form">
        <input type="hidden" name="deleteImg" value="{{ image.id }}" />
        <button class="delete-image" onclick=' return confirm("Supprimer cette image ?")'
        >✗</button>
        
        <img
        src="{{ asset(image.thumbPathName) }}"
        alt=""
        class="foetus-home-img"
        data-id="{{ image.id }}"
        />
      </form>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
