<div class="social">
  {% for social in socials.getSocialLinks %}
  <a href="{{ social.linkPath }}" target="_blank">
    <img src="{{ asset(social.iconPath) }}" alt="{{ social.title }}"/>
  </a>
    {% endfor %}
</div>