<div class="social">
    <a href="#" target="_blank"
    ><img src="{{ asset('assets/images/instagram.png') }}" alt="Instagram"
    /></a>
    <a href="#" target="_blank"
    ><img src="{{ asset('assets/images/facebook.png') }}" alt="Facebook"
    /></a>
     <a href="#" target="_blank"
    ><img src="{{ asset('assets/images/twitter.png') }}" alt="Twitter"
    /></a>
      <a href="#" target="_blank"
    ><img src="{{ asset('assets/images/patreon.png') }}" alt="Patreon"
    /></a>
</div>
