<div class="social">
    <a href="#"
    ><img src="{{ asset('assets/images/instagram.png') }}" alt="Instagram"
    /></a>
    <a href="#"
    ><img src="{{ asset('assets/images/facebook.png') }}" alt="Facebook"
    /></a>
</div>
