/*
***********************************
COLORS
***********************************
*/
:root {
  --primary-color: #222222;
  --secondary-color: #ffffff;
  --tertiary-color: #d438d4;
  --tertiary-hover-color: #7a1f7a;
  --background-color: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgba(240, 198, 228, 1) 100%
  );
  --background-color-2: #7aa8e49c;
}

/*
***********************************
GENERAL
***********************************
*/
html,
body {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  height: 100vh;
}

.body,
.body-2 {
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.body {
  background: var(--background-color);
}

.body-2 {
  background-color: var(--background-color-2);
}

.center-div {
  width: 70%;
  margin: auto;
}

.logged-in {
  color: green !important;
}

label {
  color: var(--primary-color);
}

.hr {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 20px auto;
  background: #1d1d1d;
  background: radial-gradient(circle, #080808 0%, rgba(219, 219, 219, 0.144) 50%, rgba(209, 209, 209, 0) 100%);
}

a {
  text-decoration: none;
  color: var(--tertiary-color) !important;
  font-weight: 900;
  text-shadow: 2px 2px 5px var(--tertiary-color);
}

a:hover {
  color: var(--tertiary-hover-color);
  text-shadow: 2px 2px 5px var(--tertiary-hover-color);
}

/*
***********************************
FONTS & ICONS
***********************************
*/
* {
  font-family: "Raleway", sans-serif;
}

p,
span,
ul li,
li {
  letter-spacing: 0.2rem !important;
}

.fa,
.fas {
  color: var(--link-button-color);
  margin-right: 10px;
}

.fa:hover,
.fas:hover {
  color: var(--orange-icon-color);
}

/*
***********************************
BUTTONS
***********************************
*/
.main-burger-button {
  margin: 2% !important;
}

.custom-button,
.custom-button-2 {
  font-size: 2.5em;
  border-radius: 20px;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5em;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.custom-button {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.custom-button:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.75);
}

.custom-button-2 {
  color: var(--primary-color);
}

.custom-button-2:hover {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  box-shadow: 0px 0px 4px 5px var(--tertiary-hover-color);
  -webkit-box-shadow: 0px 0px 4px 5px var(--tertiary-hover-color);
  -moz-box-shadow: 0px 0px 4px 5px var(--tertiary-hover-color);
}

/*
***********************************
LISTS
***********************************
*/
ul li,
li {
  list-style-type: none !important;
}

/*
***********************************
FLASH MESSAGES / CUSTOM ALERT
***********************************
*/
/*
***********************************
MEDIA QUERIES
***********************************
*/
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 76%;
  overflow: auto;
}

/*
***********************************
LOGO
***********************************
*/
.main-title-logo {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.logo-small {
  width: 100px;
}

/*
***********************************
LISTS
***********************************
*/
.main-nav,
.admin-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
}

.admin-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.offcanvas {
  background: rgba(255, 255, 255, 0.7);
}

.nav {
  background: var(--background-color);
  width: 100%;
  position: fixed;
  z-index: 200;
}

.main-title-logo img {
  width: 240px;
}

.big-title {
  text-align: center;
}

/*
***********************************
HOME
***********************************
*/
.home-foetus-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.home-foetus-container img {
  height: 46vh;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.home-foetus-container img:hover {
  -webkit-filter: drop-shadow(0 0 0.75rem #d84bd8);
          filter: drop-shadow(0 0 0.75rem #d84bd8);
}

.enter-foetus {
  position: absolute;
  top: 50;
  font-size: 2em;
  padding: 0.5em;
  top: 70%;
  left: 55%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px -2px 9px 4px rgba(0, 0, 0, 0.75) inset;
}

.enter-foetus a {
  color: #380234 !important;
  text-shadow: 4px 4px 4px #72046b8c;
}

/*
***********************************
GALLERY / FLASHES
***********************************
*/
#add-file-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-img-gallery {
  opacity: 0;
}

#add-file-form label {
  display: block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  width: 500px;
  height: 280px;
  background: url("../images/upload.png") center no-repeat;
}

.delete-img-form {
  position: relative;
}

.flexboxxx {
  padding: 10%;
  -webkit-column-count: 5;
          column-count: 5;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

.flexboxxx:hover img {
  opacity: 0.28;
}

.flexboxxx .itemx {
  position: relative;
}

.flexboxxx .itemx img {
  width: 100%;
  display: block;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.flexboxxx .itemx .title {
  position: absolute;
  top: 48%;
  left: 0;
  width: 100%;
  padding: 0 3%;
  font-size: 30px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.42);
}

.flexboxxx .itemx:hover img {
  opacity: 1;
}

@media (min-width: 300px) and (max-width: 576px) {
  .flexboxxx {
    -webkit-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 1em;
            column-gap: 1em;
    margin: 6%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .flexboxxx {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 5em;
            column-gap: 5em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .flexboxxx {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 3em;
            column-gap: 3em;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .flexboxxx {
    -webkit-column-count: 4;
            column-count: 4;
    -webkit-column-gap: 2em;
            column-gap: 2em;
  }
}

.flexboxxx-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 6%;
}

.delete-image {
  cursor: pointer !important;
  position: absolute;
  font-size: 2em;
  background: red;
  color: white;
  border-radius: 20px;
}

.custom-flex-container {
  margin-top: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 300px) and (max-width: 576px) {
  .custom-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .custom-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 0;
  }
}

.bio-text {
  width: 30%;
  text-align: justify;
}

@media (min-width: 300px) and (max-width: 576px) {
  .bio-text {
    width: 100%;
    margin-bottom: 5em;
    padding: 0 1em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .bio-text {
    width: 100%;
    margin-bottom: 5em;
    padding: 0 1em;
  }
}

.bio-text p {
  font-size: 1.5em;
}

.foetus-portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3em;
}

.foetus-portrait img {
  width: 400px !important;
  border-radius: 20px;
}

/*
***********************************
SOCIAL
***********************************
*/
.social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2% 0;
  height: 10%;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.social a img {
  width: 30px;
  margin: 0 9px;
}

.social-img-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-img {
  width: 120px;
}

/*
***********************************
CONTROL
***********************************
*/
.control-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*
***********************************
LIST UPDATE
***********************************
*/
.list-update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style-foetus.css.map */