@import "./settings";

/**
//////////////////////////////////////
HEADER
//////////////////////////////////////
*/


.header {
    background-color: var(--primary-color);
    height: 120px;
    border-radius: 0 0 95px 0;
}

.header-title-em {
    color: var(--secondary-color);
    font-size: 1.8em;
    font-weight: 100;
    letter-spacing: .2em;
}

.header-title {
    color: var(--secondary-color);
    font-weight: 100 !important;
    text-align: center;
    margin-bottom: 0 !important;
}

.flex-header {
    display: flex;
    align-items: center;
}

.flex-header .left {
    width: 30%;
}

.flex-header .right {
    width: 70%;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
}

.subtitle {
    padding-top: 1em;
}

/*
***********************************
LOGIN / REGISTER
***********************************
*/

.login-div {
    width: 70%;
    margin: 10% auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.table-user {
    margin: auto;
}


/**
//////////////////////////////////////
SECTION white-background
//////////////////////////////////////
*/
.white-background {
    background-color: var(--secondary-color);
    color: var(--font-color-dark);
}

.white-background h2 {
    color: var(--primary-color);
}

/**
//////////////////////////////////////
SECTION black-background
//////////////////////////////////////
*/
.black-background {
    background-color: var(--primary-color);
    border-radius: 95px 0;
    color: var(--font-color-white);
}

.black-background h2 {
    color: var(--secondary-color);
}

/**
//////////////////////////////////////
TEAM SECTION
//////////////////////////////////////
*/


.flex-team {
    display: flex;
    flex-direction: column;
}

.team-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/**
//////////////////////////////////////
SUR MESURE
//////////////////////////////////////
*/

.collapse-mesure {
    height: 0;
    opacity: 0;
    visibility: hidden;
    justify-content: space-between;
}

.active-mesure {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    height: auto;
    opacity: 1;
    transition: ease-in-out 0.3s;
    &:focus {
        outline: none;
    }
}

