.main-title-logo {
  position: absolute !important;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  top: -50%;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.main-title-logo img {
  width: 240px;
}

.home-foetus-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

.home-foetus-container img {
  height: 46vh;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.home-foetus-container img:hover {
  -webkit-filter: drop-shadow(0 0 0.75rem #d84bd8);
          filter: drop-shadow(0 0 0.75rem #d84bd8);
}

.enter-foetus {
  position: absolute;
  top: 50;
  font-size: 2em;
  padding: 0.5em;
  top: 70%;
  left: 55%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px -2px 9px 4px rgba(0, 0, 0, 0.75) inset;
}

.enter-foetus a {
  color: #380234 !important;
  text-shadow: 4px 4px 4px #72046b8c;
}

.menu {
  background: #fbfaed;
  background: -webkit-gradient(linear, left top, right top, from(white), to(#f0c6e4));
  background: linear-gradient(90deg, white 0%, #f0c6e4 100%);
  height: 100vh;
  width: 100%;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 33%;
}

.menu a {
  font-size: 4em !important;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.menu a:hover {
  font-size: 5em !important;
}

.social {
  position: absolute;
  top: -20%;
  right: 1%;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.social a img {
  width: 30px;
}

.flexboxx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vw;
}

.flexboxx:hover img {
  opacity: 0.28;
}

.flexboxx .item {
  position: relative;
  width: 33.33%;
}

.flexboxx .item img {
  width: 100%;
  display: block;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.flexboxx .item .title {
  position: absolute;
  top: 48%;
  left: 0;
  width: 100%;
  padding: 0 3%;
  font-size: 30px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.42);
}

.flexboxx .item:hover img {
  opacity: 1;
}
/*# sourceMappingURL=style-foetus.css.map */