// LOGO

.main-title-logo {
  position: absolute !important;
  cursor: grabbing;
  top: -50%;
  transition: ease-in-out 0.5s;
}

.main-title-logo img {
  width: 240px;
}

// Title big
.big-title {
  text-align: center;
}

// Home

.home-foetus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

.home-foetus-container img {
  height: 46vh;
  transition: ease-in-out 0.5s;
  // box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0.75);
  // -webkit-box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0.75);
  // -moz-box-shadow: 0px -2px 9px 4px rgba(0, 0, 0, 0.75);
}

.home-foetus-container img:hover {
  filter: drop-shadow(0 0 0.75rem #d84bd8);
}

.enter-foetus {
  position: absolute;
  top: 50;
  font-size: 2em;
  padding: 0.5em;
  top: 70%;
  left: 55%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px -2px 9px 4px rgba(0, 0, 0, 0.75) inset;
}

.enter-foetus a {
  color: #380234 !important;
  text-shadow: 4px 4px 4px #72046b8c;
}

//MENU
.menu {
  background: rgb(251, 250, 237);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgba(240, 198, 228, 1) 100%
  );
  height: 100vh;
  width: 100%;
  // position: absolute;
  transition: ease-in-out 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 33%;
}

.menu a {
  font-size: 3em !important;
  transition: ease-in 0.3s;
}

.menu a:hover {
  font-size: 4em !important;
}

//SOCIAL
.social {
  position: absolute;
  top: -20%;
  right: 1%;
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  transition: ease-in-out 0.5s;
}

.social a img {
  width: 30px;
}

.foetus-portrait img {
  width: 400px !important;
}

// Flexbox wrapper
.flexboxxx {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  // width: 100%;
  // height: 100vw;
  // overflow: auto;

  &:hover {
    img {
      opacity: 0.28;
    }
  }

  // Each flex item
  .itemx {
    // position: relative;
    // width: 250px;
    img {
      width: 100%;
      display: block;
      transition: all 0.8s;
    }
    .title {
      position: absolute;
      top: 48%;
      left: 0;
      width: 100%;
      padding: 0 3%;
      font-size: 30px;
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.42);
    }
    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}
