@import "./settings";

// MAIN CONTAINER
.main-container {
  display: flex;
  flex-direction: column;
  height: 76%;
  overflow: auto;
}

/*
***********************************
LOGO
***********************************
*/
.main-title-logo {
  cursor: grabbing;
  transition: ease-in-out 0.5s;
}

.logo-small {
  width: 100px;
}

/*
***********************************
LISTS
***********************************
*/
// MAIN NAV
.main-nav,
.admin-nav {
  display: flex;
  height: 10%;
}

.admin-nav {
  justify-content: flex-end;
}

.offcanvas {
  background: rgba(255, 255, 255, 0.7);
}

.nav {
  background: var(--background-color);
  width: 100%;
  position: fixed;
  z-index: 200;
}

.main-title-logo img {
  width: 240px;
}

// Title big
.big-title {
  text-align: center;
}

/*
***********************************
HOME
***********************************
*/
.home-foetus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.home-foetus-container img {
  height: 46vh;
  transition: ease-in-out 0.5s;
}

.home-foetus-container img:hover {
  filter: drop-shadow(0 0 0.75rem #d84bd8);
}

.enter-foetus {
  position: absolute;
  top: 50;
  font-size: 2em;
  padding: 0.5em;
  top: 70%;
  left: 55%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px -2px 9px 4px rgba(0, 0, 0, 0.75) inset;
}

.enter-foetus a {
  color: #380234 !important;
  text-shadow: 4px 4px 4px #72046b8c;
}

/*
***********************************
GALLERY / FLASHES
***********************************
*/

// Add img form
#add-file-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-img-gallery {
  opacity: 0;
}

#add-file-form label {
  display: block;
  position: relative;
  display: flex;
  transition: transform 0.2s ease-out;
  width: 500px;
  height: 280px;
  background: url("../images/upload.png") center no-repeat;
}

// Form Delete Img
.delete-img-form {
  position: relative;
}

// Flexbox wrapper
.flexboxxx {
  padding: 10%;
  column-count: 5;
  column-gap: 1em;
  // box-shadow: 0px 1px 7px 5px rgba(0, 0, 0, 0.75);
  // -webkit-box-shadow: 0px 1px 7px 5px rgba(0, 0, 0, 0.75);
  // -moz-box-shadow: 0px 1px 7px 5px rgba(0, 0, 0, 0.75);

  &:hover {
    img {
      opacity: 0.28;
    }
  }

  // Each flex item
  .itemx {
    position: relative;
    img {
      width: 100%;
      display: block;
      transition: all 0.8s;
    }
    .title {
      position: absolute;
      top: 48%;
      left: 0;
      width: 100%;
      padding: 0 3%;
      font-size: 30px;
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.42);
    }
    &:hover {
      img {
        opacity: 1;
      }
    }
  }

  @include xs {
    column-count: 1;
    column-gap: 1em;
    margin: 6%;
  }

  @include sm {
    column-count: 2;
    column-gap: 5em;
  }

  @include md {
    column-count: 3;
    column-gap: 3em;
  }

  @include lg {
    column-count: 4;
    column-gap: 2em;
  }
}

.flexboxxx-delete {
  display: flex;
  flex-wrap: wrap;
  padding-top: 6%;
}

.delete-image {
  cursor: pointer !important;
  position: absolute;
  font-size: 2em;
  background: red;
  color: white;
  border-radius: 20px;
}

// BIO
.bio-container {
  margin-top: 8em;
  display: flex;
  justify-content: space-around;
  @include xs {
    flex-direction: column-reverse;
    margin-top: 0;
  }

  @include sm {
    flex-direction: column-reverse;
    margin-top: 0;
  }
}

.bio-text {
  width: 30%;
  text-align: justify;

  @include xs {
    width: 100%;
    margin-bottom: 5em;
    padding: 0 1em;
  }

  @include sm {
    width: 100%;
    margin-bottom: 5em;
    padding: 0 1em;
  }
}

.bio-text p {
  font-size: 1.5em;
}
.foetus-portrait {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.foetus-portrait img {
  width: 400px !important;
  border-radius: 20px;
}

/*
***********************************
FOOTER
***********************************
*/

.social {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2% 0;
  height: 10%;
  transition: ease-in-out 0.5s;
}

.social a img {
  width: 30px;
  margin: 0 9px;
}