<main class="main-container">
    <div class="home-foetus-container">
        <img
          src="{{ asset('assets/images/foetus-logo.png') }}"
          alt=""
          class="foetus-home-img"
        />
    </div>
</main>