<main class="main-container">
    <div class="home-container">
        <img
          src="{{ asset('assets/images/main-logo.png') }}"
          alt=""
          class="home-img"
        />
    </div>
</main>