{% extends 'base.html.twig' %} {% block title %}Galerie{% endblock %} {% block
body %}

{% include 'nav/_main.nav.html.twig' %}

<main class="main-container">
	<div class="container-flexboxxx">
		<div class="flexboxxx">
			{% for image in images %}
			<div class="itemx">
				<a href="{{ asset(image.pathName) }}">
					<img src="{{ asset( image.thumbPathName  ) }}"
					alt="" class="home-img"/>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</main>

{% endblock %}
