{% extends 'base.html.twig' %} {% block title %}Foetus{% endblock %} {% block
body %}
<div class="flexboxxx">
  {% for image in images %}
  <div class="itemx">
    {# <img src="{{ asset( image.pathName ) | imagine_filter('my_thumb')}}"
      alt=""
      class="foetus-home-img"/> #}
      <a href="{{ asset(image.pathName) }}">

        <img src="{{ asset( image.thumbPathName  ) }}"
        alt=""
        class="foetus-home-img"/>
      </a>
  </div>
  {% endfor %}
</div>

{% endblock %}
