{% extends 'base.html.twig' %} {% block title %}Foetus{% endblock %} {% block
body %}

{% include 'nav/previous.nav.html.twig' %}

<div class="container-flexboxxx">

	<div class="flexboxxx">
		{% for image in images %}
			<div class="itemx">
				<a href="{{ asset(image.pathName) }}">
					<img src="{{ asset( image.thumbPathName  ) }}"
					alt="" class="foetus-home-img"/>
				</a>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
