{% extends 'base.html.twig' %} {% block title %}Foetus{% endblock %} {% block
body %}

<div class="main-title-logo">
  <h1>Foetus</h1>
</div>

<main>
  <div class="home-foetus-container">
    <img
      src="{{ asset('assets/images/foetus-home.jpg') }}"
      alt=""
      class="foetus-home-img"
    />
    <div class="enter-foetus">
      <a href="#" class="foetus-enter-link">Visiter</a>
    </div>
  </div>
</main>

{% endblock %}
