{% extends 'base.html.twig' %} {% block title %}Foetus{% endblock %} 

{% block body %}

<!--***************************MAIN NAV****************************-->
{% include 'nav/_main.nav.html.twig' %}

<main class="main-container">
    <div class="home-foetus-container">
        <img
          src="{{ asset('assets/images/foetus-logo.png') }}"
          alt=""
          class="foetus-home-img"
        />
    </div>
</main>
{% endblock %}
