{% extends 'base.html.twig' %} {% block title %}Contact{% endblock %} {% block
body %}

<!--***************************MAIN NAV****************************-->
{% include 'nav/_main.nav.html.twig' %}

<div class="main-container">
    <h1 class="big-title">Me contacter</h1>
    <div class="custom-flex-container">
        {{ form(form) }}
    </div>
</div>

{% endblock %}
