{% extends 'base.html.twig' %} {% block
body %}

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ relative_path(previousPage|trans) }}"><span class="ti-hand-point-left"></span></a>
  </li>
</ul>

{% endblock %}
